// В этом файле должны быть стили для БЭМ-блока sitemap-box, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.sitemap-box {

  $block-name:                &; // #{$block-name}__element

  &__row {
    @include row;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 50px;

      @media (max-width: ($screen-xxl - 1)) {
        margin-bottom: 30px;
      }

      @media (max-width: $screen-md) {
        margin-bottom: 15px;
        padding-bottom: 15px;
      }
    }
  }

  &__col {
    @include col();
    @include col(md, 4);
    @include col(sm, 6);
    margin-bottom: 50px;
   
    @media (max-width: ($screen-xxl - 1)) {
      margin-bottom: 30px;
    }

    @media (max-width: $screen-md) {
      margin-bottom: 0;
    }

    .custom-dot-list {
      @media (max-width: $screen-md) {
        margin: 10px 0;
      }
    }
  }
}
