// В этом файле должны быть стили для БЭМ-блока feedback-box, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.feedback-box {

  $block-name:                &; // #{$block-name}__element

  background: #F6F7F9;
  padding: 98px 0;
  overflow: hidden;

  &__container {
    margin: auto;
    max-width: 925px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__inner {
    max-width: 432px;
    position: relative;
  }

  &__title {
    color: $font-color-title;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 12px;
  }

  &__caption {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
  }

  &__img {
    position: absolute;
    left: 100%;
    bottom: -109px;
  }

  &__form {

    .field-text {
      margin-bottom: 32px;
    }

    .field-text__input {
      background-color: #fff;
    }

    .btn {
      width: 100%;
    }
  }
}
