// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element
}


.header-box {
  border-top: 1px solid #E5E8EC;
  padding: 12px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    margin-right: 62px;
    flex-shrink: 0;

    @media (max-width: ($screen-xl - 1)) {
      margin-right: 35px;
      width: 220px;
    }

    @media (max-width: $screen-md) {
      width: 173px;
    }
  }
  .call-box {
    margin-left: auto;

    @media (max-width: ($screen-md - 1)) {
      display: none;
    }
  }

  .header-nav {
    @media (max-width: ($screen-lg - 1)) {
      display: none;
    }
  }

  .btn--catalog {
    @media (max-width: ($screen-md - 1)) {
      display: none;
    }
  }
}

.mobile-group {
  display: none;

  &__item,
  &__item.toggle {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin-left: 12px;
    position: static;
  }

  @media (max-width: ($screen-md - 1)) {
    display: flex;
  }
}