// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  background: #fff;
  
  @media (max-width: $screen-md) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
    box-shadow: 0px 16px 48px rgba(25, 29, 37, 0.1);
  }
}


.header-box {
  border-top: 1px solid #E5E8EC;
  padding: 10px 0;

  @media (min-width: $screen-lg) {
    padding: 12px 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    margin-right: 62px;
    flex-shrink: 0;

    
    @media (max-width: ($screen-xl - 1)) {
      margin-right: 35px;
      width: 220px;
    }

    @media screen and (max-width: 768px) {
      width: 145px;
    }
  }
  .call-box {
    margin-left: auto;

    @media (max-width: ($screen-md - 1)) {
      display: none;
    }
  }

  .header-nav {
    @media (max-width: ($screen-lg - 1)) {
      display: none;
    }
  }

  .btn--catalog {
    @media (max-width: ($screen-md - 1)) {
      display: none;
    }
  }
}

.mobile-group {
  display: none;

  &__item.hc-nav-trigger {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin-left: 12px;
    position: static;
    border-radius: 4px;
    position: relative;
    top: inherit;
    // background-image: url(../img/close.svg);
    // background-repeat: no-repeat;
    // background-position: center center;
    
    &.toggle-open {
      background: #E5EAEE;
      background-image: url(../img/close.svg);
      background-repeat: no-repeat;
      background-position: center center;

      img {
        opacity: 0;
      }
    }
  }

  @media (max-width: ($screen-md - 1)) {
    display: flex;
  }
}

.cd-list-icon {
  width: 48px;
  height: 48px;
  background: #F6F7F9;
  border-radius: 4px;
  display: block;
  margin-right: 16px;
  position: relative;
  flex-shrink: 0;
  transition: background $transition-time;

  svg {
    fill: $main-color;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill $transition-time;
  }
}

.catalog-dropdown {
  position: relative;
  z-index: 2;

  &__menu {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.7s, transform $transition-time;
    transform: translateY(-50px);

    @media (max-width: $screen-lg) {
      left: -200px;
    }
  }
  
  &__menu-inner {    
    width: 680px;
    background: #FFFFFF;
    box-shadow: 0px 16px 48px rgba(25, 29, 37, 0.1);
    border-radius: 8px;
    padding: 32px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: -32px;

    li {
      flex: 0 0 50%;
      max-width: 50%;
      margin-top: 32px;
      padding-right: 32px;
      a {
        color: #191D25;
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        align-items: center;

        &:hover {
          color: $main-color;

          .cd-list-icon {
            background: linear-gradient(267.08deg, rgba(255, 255, 255, 0.27) 0%, rgba(255, 255, 255, 0) 100%), #4697DD;

            svg {
              fill: #fff; 
            }
          }
        }
      }
    }

  }
}

.catalog-dropdown:hover {

  .catalog-dropdown__menu {
    opacity: 1;
    height: auto;
    overflow: visible;
    padding-top: 16px;
    transform: translateY(0);
  }
}