// В этом файле должны быть стили для БЭМ-блока catalog-card, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.catalog-card {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 50px;

  &__inner {
    display: flex;
  }

  &__body {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  &__content-wrap {
    display: flex;
  }

  &__image {
    flex-shrink: 0;
    img {
      border-radius: 8px;
    }
  }

  &__icon {
    width: 80px;
    height: 80px;
    background: #F6F7F9;
    border-radius: 8px;
    flex-shrink: 0;
    margin-right: 24px;
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: $font-color-title;
    margin: 0 0 12px 0;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
}
