// В этом файле должны быть стили для БЭМ-блока news-box, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.news {
  background: #F6F7F9;
  padding: 55px 0;
  display: none;

  &__title {
    color: $font-color-title;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    margin: 0 0 32px 0;
  }

  @media (min-width: $screen-md) {
    display: block;
  }
}

.news-box {

  $block-name:                &; // #{$block-name}__element

  @include row;

  &__item {
    @include col();
    @include col(xl, 4);
    @include col(md, 6);

    margin-bottom: 40px;

    @media (max-width: ($screen-xxl - 1)) {
      margin-bottom: 30px;
    }
    @media (max-width: ($screen-xl - 1)) {
      margin-bottom: 25px;
    }
  }

  &__card {
    background-color: #fff;
    border-radius: 8px;
    padding: 16px;
    min-height: 124px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-decoration: none;

    @media (min-width: $screen-md) {
      flex-direction: row;
    }

    &:hover {
      #{$block-name}__image {
        img {
          transform: scale(1.1);
        }
      }
      #{$block-name}__text {
        text-decoration: underline;
      }
    }
  }

  &__image {
    flex-shrink: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-start;
    margin-bottom: 8px;

    img {
      width: 100%;
      object-fit: cover;
      transform: scale(1);
      transition: transform $transition-time;
    }

    @media (min-width: $screen-md) {
      width: 128px;
      height: 88px;
      margin-bottom: 0;
    }
  }

  &__content {
    flex-grow: 1;
    
    @media (min-width: $screen-md) {
      padding-left: 17px;
    }
  }

  &__date {
    color: $font-color-text-light;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 2px 0;
  }

  &__text {
    color: $font-color-text;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
