// В этом файле должны быть стили для БЭМ-блока category-page, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.category-page {

  $block-name:                &; // #{$block-name}__element

  padding-bottom: 50px;
}

.category-group {
  @include row;
  margin-bottom: 50px;
}

.category-card {
  @include col();
  @include col(md, 4);

  &__image {
    display: block;
    overflow: hidden;
    border-radius: 8px;
    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      transform: scale(1);
      transition: transform $transition-time;
    }
  }

  &__title {
    color: $font-color-title;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    padding:  30px 100px 30px 0;

    a {
      display: block;
      text-decoration: none;
      color: $font-color-title;
      transition: color $transition-time;
    }

    @media (max-width: ($screen-xxl - 1)) {
      font-size: 21px;
      line-height: 32px;
      padding: 20px 0 30px 0;
    }

    @media (max-width: ($screen-xxl - 1)) {
      font-size: 18px;
      line-height: 24px;
      padding: 20px 0 30px 0;
    }
  }

  &:hover,
  &:focus {

    .category-card__image {
      img {
        transform: scale(1.2);
      }
    }
    .category-card__title {
      a {
        color: $main-color;
      }
    }
  }
}