// В этом файле должны быть стили для БЭМ-блока hc-offcanvas-nav, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

@import '../../node_modules/hc-offcanvas-nav/src/scss/core';
@import '../../node_modules/hc-offcanvas-nav/src/scss/toggle';
@import '../../node_modules/hc-offcanvas-nav/src/scss/theme-default';

.nav-title {
  font-size: 19px;
  font-weight: normal;
  padding: 20px 17px;
  line-height: inherit;
  margin: 0;
  color: #1b3958;
}

.hc-nav-original {
  @media (min-width: $screen-lg) {
    display: none;

  }
}

.hc-offcanvas-nav .nav-close-button span::before,
.hc-offcanvas-nav .nav-close-button span::after {
  box-sizing: content-box !important;
}

.hc-offcanvas-nav {

  .nav-wrapper > .nav-content > ul:not(:last-child) {
    border-bottom: none;
  }

  ul.bottom-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    border-top: 1px solid rgba(#000, .15);

    li {
      flex: auto;

      a {
        padding: 10px;
        text-align: center;
        height: 100%;
        border-bottom: none;
      }

      svg {
        stroke: #fff;
        display: inline-block;
        vertical-align: middle;
      }

      &.github {
        svg {
          width: 17px;
          height: 17px;
        }
      }

      &.ko-fi {
        svg {
          width: 21px;
          height: 21px;
        }
      }

      &.email {
        svg {
          width: 19px;
          height: 19px;
        }
      }
    }
  }
}