// В этом файле должны быть стили для БЭМ-блока partners, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.partners {

  $block-name:                &; // #{$block-name}__element

}

.partners-head {
  margin-bottom: 32px;

  @media (min-width: $screen-lg) {
    text-align: center;
  }
}

.partners-head__title {
  color: $font-color-title;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
  
  @media (min-width: $screen-lg) {
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 36px;
  }
}

.partners-head__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  
  @media (min-width: $screen-lg) {
    font-size: 16px;
    line-height: 24px;
    max-width: 656px;
    margin: auto;
  }
}

.partners-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
  overflow-x:scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: $screen-lg) {
    overflow: visible;
  }
}

.partners-logo {
  width: 208px;
  height: 136px;
  background: #F6F7F9;
  border-radius: 4px;
  margin-right: 20px;
  min-width: 180px;
}
