// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  border-top: 1px solid #E5E8EC;
  padding: 40px 0 20px;

  &__box {
    @include row;
  }

  &__item {
    @include col();
    @include col(lg, 3);

    &:not(:last-child) {      
      margin-bottom: 20px;
    }

    @media (max-width: ($screen-lg - 1)) {

      &:first-child {
        order: 2;
      }

      &:nth-child(2) {
        order: 1;
      }
    }
  }

  .logo {
    padding-bottom: 20px;

    @media (max-width: ($screen-lg - 1)) {
      display: none;
    }
  }
  .call-box {
    padding-bottom: 30px;
  }
  .page-footer-copyright {
    padding-bottom: 15px;
  }
  .social {
    padding: 0 0 25px 0;

    @media (min-width: $screen-lg) {
      padding: 20px 0 50px;
    }
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 12px 0;
  }
}


.fnav {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    &:not(:last-child) {      
      margin-bottom: 15px;
    }
  }

  &__link {
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $font-color-title;
    transition: color $transition-time;

    &:hover,
    &:focus {
      color: $main-color;
    }
  }

  @media (max-width: ($screen-lg - 1)) {
    display: none;
  }
}

.fcatalog {
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    margin-bottom: 15px;
  }

  &__link {
    text-decoration: none;
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: $font-color-title;
    transition: color $transition-time;

    &:hover,
    &:focus {
      color: $main-color;
    }
  }

  @media (max-width: ($screen-lg - 1)) {
    display: none;
  }
}

.footer-links {
  display: flex;
  justify-content: space-between;

  .footer-links-rf {
    flex-shrink: 0;
    margin-right: 30px;
  }

  .footer-links-text {
    flex-grow: 1;
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      margin: 12px 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      display: block;
      color: $font-color-text-light;
      text-decoration: underline;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  @media (max-width: ($screen-xl - 1)) {
    flex-wrap: wrap;
  }
}