// В этом файле должны быть стили для БЭМ-блока advantage-box, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.advantage-box {

  $block-name:                &; // #{$block-name}__element

  border: 1px solid #E5E8EC;
  border-radius: 8px;
  padding: 64px 112px 34px 112px;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $screen-lg) {
    padding: 25px 24px;
  }

  &__title {
    color: $font-color-title;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;

    @media (max-width: $screen-xxl) {
      margin-bottom: 0;
      margin-right: 25px;
    }

    @media (max-width: $screen-md) {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 8px;
    }
  }

  &__link {
    color: $main-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    @media (max-width: $screen-md) {
      font-size: 14px;
      margin-bottom: 8px;
    }
  }

  &__head {
    flex-shrink: 0;
    width: 280px;
    padding-right: 30px;

    @media (max-width: $screen-xxl) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 35px;
      padding-right: 0;
    }
  }

  &__body {
    flex-grow: 1;
    max-width: calc(100% - 280px);

    @media (max-width: ($screen-xxl - 1)) {
      max-width: 100%;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    @include row;

    li {
      @include col();
      @include col(lg, 4);
      @include col(sm, 6);
      margin-bottom: 30px;

      @media (max-width: ($screen-md - 1)) {
        margin-bottom: 10px;
      }
    }

    p {
      margin-top: 0;
    }

    @media (max-width: ($screen-lg - 1)) {
      display: block;
    }
  }

  @media (max-width: ($screen-xxl - 1)) {
    padding: 40px 70px 30px 70px;

    &__list {

      li {
        margin-bottom: 20px;

        @media (max-width: ($screen-lg - 1)) {
          display: flex;
          align-items: flex-start;
          min-width: 100%;
        }
      }

      p {
        margin: 0 0 12px 0;

        @media (max-width: ($screen-lg - 1)) {
          margin-left: 15px;

          br {
            display: none;
          }
        }
      }
    }
  }
}
