// В этом файле должны быть стили для БЭМ-блока category-info, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.category-info {

  $block-name:                &; // #{$block-name}__element

  background: #F6F7F9;
  padding-top: 55px;
  padding-bottom: 80px;

  &__title {
    text-align: center;
    color: $font-color-title;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
  }

  &__group {
    @include row;
  }

  &__item {
    @include col();
    @include col(lg, 6);

    margin-top: 50px;
  }

  &__card {
    position: relative;
    padding-left: 84px;

    @media (max-width: ($screen-xl - 1)) {
      padding-left: 62px;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;

    @media (max-width: ($screen-xl - 1)) {
      width: 42px;
      height: 42px;
    }
  }

  &__item-title {
    color: $font-color-title;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  &__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}
