// В этом файле должны быть стили для БЭМ-блока sidebar-layout, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.sidebar-layout {

  $block-name:                &; // #{$block-name}__element

  &__row {
    @include row;
  }

  &__sidebar {
    @include col();
    @include col(xl, 3);

    @media (max-width: ($screen-xl - 1)) {
      display: none;
    }
  }

  &__content {
    @include col();
    @include col(xl, 9);

    
    @media (min-width: $screen-lg) {
      padding-left: 35px !important;
    }
  }

  &__head {
    margin-bottom: 55px;

    @media (max-width: ($screen-lg - 1)) {
      margin-bottom: 30px;
    }
  }

  &__title {
    color: $font-color-title;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;    
    margin: 0;
  }
}
