// В этом файле должны быть стили для БЭМ-блока portfolio-page, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.portfolio-page {

  $block-name:                &; // #{$block-name}__element

  padding-bottom: 50px;
}

.portfolio-head {
  padding-top: 50px;
  text-align: center;
  margin-bottom: 160px;
  background: #F6F7F9;
  padding-bottom: 160px;

  .container {
    position: relative;
  }

  &__title {
    color: $font-color-title;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin: 0;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    max-width: 660px;
    margin: auto;
  }
}

.portfolio-stats {

  position: absolute;
  left: 50%;
  bottom: -240px;
  width: 100%;
  max-width: 1104px;
  transform: translateX(-50%);

  &__row {
    @include row;
  }

  &__col {
    @include col();
    @include col(lg, 3);
  }

  &__card {
    background: #fff;
    border-radius: 6px;
    padding: 24px;
    text-align: left;
    box-shadow: 0px 16px 48px rgba(229, 232, 236, 0.8);
  }

  &__card-title {
    color: $font-color-title;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 16px;  
  }

  &__card-num {
    color: $green-color;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 24px; 
  }

  &__card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
}

.portfolio-album {

  &__nav {

    margin-bottom: 55px;

    ul {
      list-style: none;
      display: flex;
      justify-content: center;
    }

    li {
      &:not(:last-child) {
        margin-right: 12px;
      }
    }

    a {
      color: $font-color-text;
      display: block;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      text-decoration: none;
      padding: 11px 20px;
      border-radius: 4px;

      &.active {
        background: #F6F7F9;
        color: $font-color-title;
      }
    }
  }

  &__row {
    @include row;
  }

  &__col {
    @include col();
    @include col(lg, 6);
  }

  &__card {
    margin-bottom: 30px;
  }
}
