// В этом файле должны быть стили для БЭМ-блока category-caption, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.category-caption {

  $block-name:                &; // #{$block-name}__element

  margin-bottom: 55px;
  max-width: 880px;

  &__head {
    margin-bottom: 32px;

    @media (max-width: ($screen-xl - 1)) {
      margin-bottom: 20px;
    }
  }

  &__title {
    color: $font-color-title;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    
    @media (min-width: $screen-lg) {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__sub-title {
    font-weight: 400;
    color: #555B68;
    font-size: 14px;
    line-height: 22px;
    
    @media (min-width: $screen-lg) {
      font-size: 16px;
      line-height: 28px;
    }
  }

  p {
    color: #191D25;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 12px 0;

    @media (min-width: $screen-lg) {
      font-size: 20px;
      line-height: 32px;
    }

  }

  @media (max-width: ($screen-xl - 1)) {
    margin-bottom: 40px;
  }
}
