// В этом файле должны быть стили для БЭМ-блока int-solutions, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.int-solutions {

  $block-name:                &; // #{$block-name}__element

  padding: 40px 0;

  &__row {
    @include row;
  }

  &__col {
    @include col();
    @include col(lg, 6);
  }

  &__title {
    color: $font-color-title;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin: 0 0 40px 0;
  }

}

.int-solutions-card {

}