// В этом файле должны быть стили для БЭМ-блока metrik-counter, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.metrik-counter {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-wrap: wrap;

  &__item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}
