// В этом файле должны быть стили для БЭМ-блока testimonials-group, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.testimonials-group {

  $block-name:                &; // #{$block-name}__element

  &__item {
    border-bottom: 1px solid #E5E8EC;
    padding-bottom: 25px;
    @media (min-width: $screen-md) {
      padding-bottom: 55px;
    }

    &:not(:first-child) {
      padding-top: 25px;
      @media (min-width: $screen-md) {
        padding-top: 55px;
      }
    }
  }
}
