// В этом файле должны быть стили для БЭМ-блока header-nav, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header-nav {

  $block-name:                &; // #{$block-name}__element

  list-style: none;
  padding: 0;
  margin: 20px;

  &__item {
    display: inline-block;
    margin: 0 20px;

    @media (max-width: ($screen-xl - 1)) {
      margin: 0;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $font-color-title;
    display: block;
    text-decoration: none;
    transition: color $transition-time;

    &:hover,
    &:focus {
      color: $main-color;
    }

    @media (max-width: ($screen-xxl - 1)) {
      font-size: 14px;
    }
  }
}
